<!DOCTYPE html>
<html>
<head>
    <title>My Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <div class="navbar">
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('information') }}">Information</a></li>

            {% if session.get('user_id') %}
                <li><a href="{{ url_for('account') }}">Account</a></li>
                <li><a href="{{ url_for('medical_records') }}">Medical Records</a></li>
                <li><a href="{{ url_for('predictor') }}">Predictor</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            {% endif %}
        </ul>
    </div>
    
    

    <div class="form-container">
        <h2>Account Information</h2>
        <p>Welcome, <strong>{{ username }}</strong></p>

        <form action="/logout" method="GET">
            <button type="submit">Logout</button>
        </form>

        <div class="delete-button-container">
            <form action="/delete_account" method="POST">
                <button class="delete-button" type="submit">Delete My Account</button>
            </form>
        </div>
    </div>
</body>
</html>
