<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/information">Information</a></li>

        {% if session.get('user_id') %}
            <li><a href="/account">Account</a></li>
            <li><a href="/predictor">Predictor</a></li>
            <li><a href="/logout">Logout</a></li>
        {% else %}
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
        {% endif %}
    </ul>
</div>


<div class="login-form">
    <h2>Login</h2>
    {% if error %}
        <div class="alert">{{ error }}</div>
    {% endif %}
    <form method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" required>
        <button type="submit">Login</button>
    </form>
    <div class="sub-title">
        Don't have an account? <a href="/signup">Sign up here</a>
    </div>
</div>

</body>
</html>
